body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.dd-wrapper *{
  width: 300px;
  padding: 0px;
  margin: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
